<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.htc.lib2.locationservicessetting">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />
    
    <application>
        <meta-data
            android:name="hdkapi_locationservicessetting"
            android:value="1.3.1" />
    </application>
</manifest>
